# Lesson 1: Fundamental Data Types of Python

<h1><b><i>Lesson 1

#Demo

In [2]:
"Welcome to Data Analytics"

'Welcome to Data Analytics'

In [3]:
'1'+'1'

'11'

In [4]:
1+1

2

In [6]:
#PEMDAS RULE

3*3

9

In [7]:
2/6

0.3333333333333333

In [8]:
# % Modulus Division

5%2

1

In [9]:
(2+3)*(5+5)

50

In [10]:
name_of_var = 2

In [11]:
x=1
y=2
x+y

3

In [12]:
name_of_var + y

4

In [17]:
import math
print ("square root:",math.sqrt(2))
print ("factorial:",math.factorial(3))
print('this is new',math.cos(0))
print("this is new",math.cos(0))

square root: 1.4142135623730951
factorial: 6
this is new 1.0
this is new 1.0

<B> String can have a single or double quotes

In [23]:
"double?"

'double?'

In [28]:
x='single'
x

'single'

In [31]:
x='hello'
print(x)

hello

In [32]:
name="Angelica Esmabe"
print("Hello my name is {}".format(name))

Hello my name is Angelica Esmabe

In [34]:
print("Hello my name is",name)
print(x)

Hello my name is Angelica Esmabe
hello

In [35]:
age = 26
print("Hi my name is {} and my age is {}".format(name,age))

Hi my name is Angelica Esmabe and my age is 26

In [36]:
print("Hi my name is {0} and my age is {1}".format(name,age))

Hi my name is Angelica Esmabe and my age is 26

In [37]:
x=['Angel','Lyka']
y=[8,26]
print("Hi my name is {} and my age is {}".format(x[0],y[0]))

Hi my name is Angel and my age is 8